html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.websiteBody {
    flex: 1 0;
    display: flex;
    flex-direction: row;
}

#titleBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    flex: none;
    background-color: #34b5fa;
    align-self: stretch;
}

.mailLogo {
    margin-right: 5px;
    margin-left: 5px;
    height: 80px;
}

.mailTitle {
    font-family: Arial;
    font-weight: bold;
    font-size: 64px;
    color: white;
}

#navbar {
    background-color: #242021;
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
}

.navbarMenu {
    flex-basis: fit-content;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    align-items: center;
    padding: 0;
}

.navbarOption {
    list-style-type: none;
    background-color: #82746c;
    border-radius: 3px;
    width: 100%;
    min-height: 30px;
    margin: 3px;
    display: flex;
    align-items: center;
}

.navbarOption.active {
    background-color: #f3771a;
}

.navbarOption a {
    text-decoration: none;
    color: white;
    margin: 3px;
}

.mailWrite {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: orangered;
    right: 20px;
    bottom: 20px;

}

#mailboxContent {
    background-color: #555555;
    overflow-y: auto;
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.mailItemFrame {
    width: 900px;
    height: 75px;
    margin: 5px auto;
    background-color: #f6f0f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mailItem {
    display: flex;
    justify-content: flex-start;
}

.mailItem * {
    font-family: Arial;
}

.mailHeader {
    width: 150px;
    border-right: black 1px solid;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
}

.mailBody {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mailTopic {
    font-size: 24px;
    height: 70%;
    width: 100%;
}

.mailFrom {
    font-weight: bold;
    font-size: 18px;
    width: 35%;
}

.mailSender {
    font-size: 18px;
    width: 65%;
}

.mailContent {
    margin-left: 3px;
}

.mailIcon {
    width: 25px;
    height: 25px;
    align-self: flex-end;
}
